@font-face {
    font-family: 'Raleway';
    src: url(../config/theme/fonts/Raleway-Black.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Raleway';
    src: url(../config/theme/fonts/Raleway-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Raleway';
    src: url(../config/theme/fonts/Raleway-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Raleway';
    src: url(../config/theme/fonts/Raleway-Light.ttf) format('truetype');
    font-weight: lighter;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Raleway';
    src: url(../config/theme/fonts/Raleway-SemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  * {
    box-sizing: border-box;
  }
  
  html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(35, 6, 61);
    font-family: "Bohemian Soul", cursive; /* Apply custom font */
  }
  
  ::-webkit-scrollbar {
    width: 4px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: lightgray; 
    border-radius: 2px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: gray; 
  }
  